<%= form_for(@question, :html => {:multipart => true}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @question.new_record? %>
     <% @question.num = Question.last.num+1%>
     <% @question.page = Question.maximum("page")%>
  <%end%>

  <div class="form-inline">
    <%= f.label :num %>
    <%= f.number_field :num %>
    <%= f.label :page %>
    <%= f.number_field :page %>
  </div>
  <div class="field">
    <%= f.label :qtext %>
    <%= f.text_area :qtext,  "rows" => 7 %>
    <%= f.file_field :qimage %>
  </div>
  <div class="field">
    <%= f.label :answer %>
    <%= f.text_area :answer, "rows" => 7 %>
    <%= f.file_field :aimage %>
  </div>
 <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes,  "rows" => 3 %>
 </div>

 <div class="field">
   <% for topic in Topic.find(:all, :order => '"topicName"' ) %>
     <%= check_box_tag "question[topic_ids][]", topic.id, @question.topics.include?(topic) %>
     <%= topic.topicName %>
   <%end%>
</div>

<% if false %>
  <div class="field">
    <%= fields_for :topic do |tf| %>
      <%= tf.label :topics %><br>
      <%= tf.collection_check_boxes :topic_id, Topic.all, :id, :topicName %>
    <% end %>
  </div>
<% end %>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
