<%= form_for(@question, :html => {:multipart => true}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @question.new_record? %>
     <% @question.num = Question.last.num+1%>
     <% @question.level = 2 %>
     <% @question.page = Question.where(:level => @question.level).maximum("page")%>
  <%end%>

  <div class="form-inline">
    <%= f.label :num %>
    <%= f.number_field :num %>
    <%= f.label :page %>
    <%= f.number_field :page %>
    <%= f.label :level %>
    <%= f.number_field :level %>
    <%= f.submit %>
  </div>
  <div class="field">
    <%= f.label :qtext %>
    <%= f.text_area :qtext,  "rows" => 5 %>
    <%= f.file_field :qimage %>
    <%= image_tag @question.qimage.url(:thumb).to_s if @question.qimage?%>
    <%= f.check_box :remove_qimage if @question.qimage?%>
    <%=  "Remove Question Image" if @question.qimage?%>
  </div>
  <div class="form-inline">
    <%= f.label "Short Answer" %>
    <%= f.text_field :shortAnswer, :id => "editqa" %>
    <%= f.label "S1 Presenters" %>
    <%= f.text_field :presenter1, :id => "editpresenter" %>
    <%= f.label "S2 Presenters" %>
    <%= f.text_field :presenter2, :id => "editpresenter" %>
 </div>
 <div class="field">
     <%= f.label :answer %>
    <%= f.text_area :answer, "rows" => 6 %>
    <%= f.file_field :aimage %>
    <%= image_tag @question.aimage.url(:thumb).to_s if @question.aimage?%>
    <%= f.check_box :remove_aimage if @question.aimage?%>
    <%=  "Remove Answer Image" if @question.aimage?%>
  </div>
 <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes,  "rows" => 2 %>
 </div>

 <div class="field">
   <% for topic in Topic.all(:order => '"topicName"' ) %>
     <%= check_box_tag "question[topic_ids][]", topic.id, @question.topics.include?(topic) %>
     <%= topic.topicName %>
   <%end%>
</div>

<div class="field">
  <% for student in Student.all(:order => '"inits"' ) %>
     <%= check_box_tag "question[topic_ids][]", student.id, @question.topics.include?(topic) %>
     <%= student.inits %>
   <%end%>
</div>

<% if false %>
  <div class="field">
    <%= fields_for :topic do |tf| %>
      <%= tf.label :topics %><br>
      <%= tf.collection_check_boxes :topic_id, Topic.all, :id, :topicName %>
    <% end %>
  </div>
<% end %>

<div class="form-inline">
    <%= f.submit %>
  </div>
<% end %>
