<h1>List of Questions</h1>

<%= link_to 'New Question', new_question_path, :class => 'btn btn-mini' %>
<%= link_to 'Topics', topics_path, :class => 'btn btn-mini' %>
<%= " There are currently #{Question.count} questions in the list, spread over #{Question.maximum("page")} pages." %>

<br>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Num</th>
      <th>Qtext</th>
      <th>Answer</th>
      <th>Notes</th>
      <th>Topics</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions = @questions.sort_by {|question| (question.page*100+question.num)}.reverse %>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.page %></td>
        <td><%= question.num %></td>
        <td><%= question.qtext[0..70] %></td>
        <td><%= question.answer[0..70] %></td>
        <td><%= question.notes[0..40] %></td>
        <td><%= question.topics.count %></td>
        <td><%= link_to 'Show', question, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_question_path(question), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, :class => 'btn btn-mini' %>
<%= link_to 'Topics', topics_path, :class => 'btn btn-mini' %>
