<h2>List of Questions</h2>

<%= link_to 'New Question', new_question_path, :class => 'btn btn-mini' %>
<%= link_to 'Topics', topics_path, :class => 'btn btn-mini' %>
<%= " There are currently #{Question.count} questions in the list, spread over #{Question.maximum("page")} pages." %>
<br>
<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label :page_gteq, "Page # >", :style => "display: inline" %>
   <%= f.search_field :page_gteq, :style => "display: inline"  %>
   <%= f.label :qtext_cont, :style => "display: inline"  %>
   <%= f.search_field :qtext_cont, :style => "display: inline"  %>
   <%= f.submit %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Num</th>
      <th>Qtext</th>
      <th>Answer</th>
      <th>Notes</th>
      <th>Topics</th>
      <th>Images</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions = @questions.sort_by {|question| (question.page*100+question.num)}.reverse %>
    <% @questions.each do |question| %>
      <% i = 0 %>
      <% i += 1 if question.qimage?%>
      <% i += 1 if question.aimage?%>
      <tr>
        <td><%= question.page %></td>
        <td><%= question.num %></td>
        <td><%= question.qtext[0..50] %></td>
        <td><%= question.answer[0..50] %></td>
        <td><%= question.notes[0..30] %></td>
        <td><%= question.topics.count %></td>
        <td><%= i %></td>
        <td><%= link_to 'Show', question, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_question_path(question), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, :class => 'btn btn-mini' %>
<%= link_to 'Topics', topics_path, :class => 'btn btn-mini' %>
