<h2>List of Questions</h2>

<% if can? :create, Question %>
  <%= link_to 'New Question', new_question_path, :class => 'btn btn-mini' %>
<% end %>
<%= link_to 'Topics', topics_path, :class => 'btn btn-mini' %>
<%= " There are currently #{Question.count} questions in the list, spread over #{Question.maximum("page")} pages." %>
<br>
<%= search_form_for @q do |f| %>
    <%= f.label :page_eq, "Page# =", :style => "display: inline-block" %>
    <%= f.search_field :page_eq, :id => "searchfpn" %>
    <%= f.label :page_gteq, "Page# >=", :style => "display: inline-block" %>
    <%= f.search_field :page_gteq, {:width => "200px", :id => "searchfpn"} %>
    <%= f.label :page_lteq, "and <=", :style => "display: inline-block" %>
    <%= f.search_field :page_lteq, :id => "searchfpn"  %>
    <%= f.label :qtext_cont, "Question contains", :style => "display: inline-block"  %>
    <%= f.search_field :qtext_cont, :id => "searchfpt"  %>
    <%= f.label :qtext_cont, "Answer contains", :style => "display: inline-block"  %>
    <%= f.search_field :answer_cont, :id => "searchfpt"  %>
    <%= f.label :qtext_cont, "Notes contain", :style => "display: inline-block"  %>
    <%= f.search_field :notes_cont, :id => "searchfpt"  %>
    <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @q, :page, "Pg" %></th>
      <th><%= sort_link @q, :num, "#" %></th>
      <th>Question Text</th>
      <% if can? :update, @question %>
        <th>Answer Text</th>
        <th>Notes</th>
      <% end %>
      <th>Top</th>
      <th>Img</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions = @questions.sort_by {|question| (question.page*100+question.num)}.reverse%>
    <% cp = @questions.max { |a, b| a.page <=> b.page } %>
    <% qcp = Question.find_by_num('-1') %>
    <% qcp.page = cp.page %>
    <% qcp.save %>
    <% puts @cur_page %>
    <% @questions.each do |question| %>
      <% i = 0 %>
      <% i += 1 if question.qimage?%>
      <% i += 1 if question.aimage?%>
      <tr>
        <td><%= question.page %></td>
        <td><%= question.num %></td>
        <td><%= question.qtext[0..50] %></td>
        <% if can? :update, question %>
          <td><%= question.answer[0..50] %></td>
          <td><%= question.notes[0..40] %></td>
        <% end %>
        <td><%= question.topics.count %></td>
        <td><%= i %></td>
        <td><%= link_to 'Show', question, :class => 'btn btn-mini' %></td>
        <% if can? :update, question %>
          <td><%= link_to 'Edit', edit_question_path(question), :class => 'btn btn-mini' %></td>
        <% end %>
        <% if can? :destroy, question %>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Question %>
  <%= link_to 'New Question', new_question_path, :class => 'btn btn-mini' %>
<% end %>
<%= link_to 'Topics', topics_path, :class => 'btn btn-mini' %>
