<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Num</th>
      <th>Qtext</th>
      <th>Answer</th>
      <th>Notes</th>
      <th>Topics</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.page %></td>
        <td><%= question.num %></td>
        <td><%= question.qtext[0..70] %></td>
        <td><%= question.answer[0..70] %></td>
        <td><%= question.notes[0..40] %></td>
        <td><%=    question.topics.count %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
<%= link_to 'Topics', topics_path %>
