<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @question.page %>
  <strong>Num:</strong>
  <%= @question.num %>
    <strong>Created:</strong>
  <%= @question.created_at.strftime("%m/%d/%y") %>
  <strong>Modified:</strong>
  <%= @question.updated_at.strftime("%m/%d/%y")  %>

</p>

<p>
  <strong>Question:</strong>
  <%= @question.qtext %>
</p>
<p>  
  <strong>Question Image:</strong>
  <%= image_tag @question.qimage.url.to_s %>
</p>

<% if can? :update, @question %>
<pre><span class="inner-pre"><strong><strong>Answer:</strong></strong>
<%= @question.answer %>
</span></pre>
<% end %> 

<p>
  <% if can? :update, @question %>
    <strong>Answer Image:</strong>
    <%= image_tag @question.aimage.url(:thumb).to_s %>
  <% end %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @question.notes %>
</p>

<p>
  <strong>Topics:</strong>
  <% @question.topics.each do |t| %>
    <td><%= t.topicName%></td>
    - 
  <% end %>
</p>
<% if can? :update, @question %>
  <%= link_to 'Edit', edit_question_path(@question), :class => 'btn btn-mini' %> |
<% end %>
<%= link_to 'Back', questions_path, :class => 'btn btn-mini' %>
