<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @question.page %>

  <strong>Num:</strong>
  <%= @question.num %>
</p>

<pre>
<p>
  <strong>Qtext:</strong>
  <%= @question.qtext %>
</p>
<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>
</pre>
<p>
  <strong>Notes:</strong>
  <%= @question.notes %>
</p>

<p>
  <strong>Topics:</strong>
  <% @question.topics.each do |t| %>
    <td><%=  t.topicName %></td>
  <% end %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
