<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @question.page %>
  <strong>Num:</strong>
  <%= @question.num %>
    <strong>Created:</strong>
  <%= @question.created_at.strftime("%m/%d/%y") %>
  <strong>Modified:</strong>
  <%= @question.updated_at.strftime("%m/%d/%y")  %>

</p>

<pre>
<p>
  <strong>Qtext:</strong>
  <%= @question.qtext %>
</p>
<p>
  <% if user_signed_in? %>
    <strong>Answer:</strong>
    <%= @question.answer %>
  <% end %>
</p>
</pre>

<p>
  <strong>Images:</strong>
  <%= "Question:"%>
  <%= image_tag @question.qimage.url(:thumb).to_s %>
  <%= "Answer:"%>
  <%= image_tag @question.aimage.url(:thumb).to_s %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @question.notes %>
</p>

<p>
  <strong>Topics:</strong>
  <% @question.topics.each do |t| %>
    <td><%= t.topicName%></td>
    - 
  <% end %>
</p>

<%= link_to 'Edit', edit_question_path(@question), :class => 'btn btn-mini' %> |
<%= link_to 'Back', questions_path, :class => 'btn btn-mini' %>
