<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Topicname</th>
      <th>Comments</th>
      <th>Question</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.topicName %></td>
        <td><%= topic.comments %></td>
        <% topic.questions.each do |q| %>
          <td><%= q.num %> <td>
        <% end %>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
<%= link_to 'Questions', questions_path %>