<p id="notice"><%= notice %></p>

<p>
  <strong>Topicname:</strong>
  <%= @topic.topicName %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @topic.comments %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
