<p id="notice"><%= notice %></p>

<p>
  <strong>Topicname:</strong>
  <%= @topic.topicName %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @topic.comments %>
</p>

<% if can? :update, @topic %>
  <%= link_to 'Edit', edit_topic_path(@topic), :class => 'btn btn-mini' %> |
<% end %>
<%= link_to 'Back', topics_path, :class => 'btn btn-mini' %>
