<!DOCTYPE html>
<html>
<head>
   
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title><%= full_title(yield(:title)) %></title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <style>
  label { padding: 0; margin: 0; display: block; }
  textfield { width: 100%; border: 1px solid #333; padding: 2px; }
  textarea { width: 99%; border: 1px solid #333; padding: 2px; font-family: "Courier New", Courier, monospace; }
  .the-fix { padding-right: 20px; }
 </style>
  
</head>
<body>
<div class="container-fluid">
<div class="navbar navbar-inverse">  
  <div class="navbar-inner">  
    <div class="container">  
      <ul class="nav">  
        <li class="active">  
          <a class="brand" href="#">TrevorPBL</a>  
        </li>  
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to "Sign In", new_user_session_path %>
        <% end %>
        <% if user_signed_in? %>
        <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to "Edit Account", edit_user_registration_path %></li>
        <% else %>
          <li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
        <li class="<%= 'active' if current_page?(questions_path) %>"><%= link_to "Questions", questions_path %></li>  
        <li class="<%= 'active' if current_page?(topics_path) %>"><%= link_to "Topics", topics_path %></li>  
        <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>  
      </ul> 
    </div>  
  </div>  
</div>
<%= yield %>
<%= flash[:error] %>
<% if user_signed_in? %>
   Signed in as <%= current_user.email %>
<% end %>
</div>
</body>
</html>
